    {% extends 'layout.html' %}
    {% block body %}
        <h2>This is page 1</h2>
        <p>This is page 1 specific stuff</p>

        {% if 3 < 4 %}
            <h1>3 is less than 4</h1>
        {% else %}
            <h1>3 is not equal to 4</h1>
        {% endif %}

        <p>
            {% for user in users %}
                {% if user[0] == 'B' %}
                    {{ user }}{% if not loop.last %},{% endif %}
                {% endif %}
            {% endfor %}
        </p>
        <p>
            {{ b_users }}
        </p>

    {% endblock body %}

